 
 @model Exoticamp.UI.Models.Events.AddEventVM

@{
    ViewData["Title"] = "Add Event";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="text-left">
        <button id="backButton" class="btn btn-secondary">Back</button>
    </div>
    <h4 class="text-center">Event</h4>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="AddEvent" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Name" class="control-label">Name<span class="text-danger">*</span></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="LocationId" class="control-label">Select Location:<span class="text-danger">*</span></label>
                    <select asp-for="LocationId" id="LocationId" class="form-control" asp-items="@Model.Locations"></select>
                    <span asp-validation-for="LocationId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="CampsiteIds">Select campsites:<span class="text-danger">*</span></label>
                    <select id="campsite" asp-for="CampsiteIds" class="form-control" multiple="multiple">
                        <option value="">-- Select campsites --</option>
                        @if (Model.Campsites is not null)
                        {
                            @foreach (var campsite in Model.Campsites)
                            {
                                <option value="@campsite.Value">@campsite.Text</option>
                            }
                        }
                    </select>
                </div>
                
               

                <div class="form-group">
                    <label asp-for="ActivityIds" class="control-label">Select Activities:<span class="text-danger">*</span></label>
                    <select asp-for="ActivityIds" class="form-control" asp-items="@Model.ActivitiesVMs.Select(a => new SelectListItem { Value = a.Value.ToString(), Text = a.Text })" multiple></select>
                    <span asp-validation-for="ActivityIds" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Price" class="control-label">Price<span class="text-danger">*</span></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Capacity" class="control-label">Capacity<span class="text-danger">*</span></label>
                    <input asp-for="Capacity" class="form-control" />
                    <span asp-validation-for="Capacity" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="StartDate" class="control-label">Start Date<span class="text-danger">*</span></label>
                    <input asp-for="StartDate" class="form-control" type="date" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="EndDate" class="control-label">End Date<span class="text-danger">*</span></label>
                    <input asp-for="EndDate" class="form-control" type="date" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="control-label">Description<span class="text-danger">*</span></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Image" class="control-label">Images<span class="text-danger">*</span></label>
                    <input asp-for="Image" class="form-control" type="file" accept="image/*" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Highlights" class="control-label">Highlights<span class="text-danger">*</span></label>
                    <textarea asp-for="Highlights" class="form-control"></textarea>
                    <span asp-validation-for="Highlights" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="EventRules" class="control-label">Event Rules<span class="text-danger">*</span></label>
                    <textarea asp-for="EventRules" class="form-control"></textarea>
                    <span asp-validation-for="EventRules" class="text-danger"></span>
                </div>

                <div class="form-group text-center">
                    <input type="submit" value="Add" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@if (TempData["Message"] != null)
{
    <script>
        toastr.error('@TempData["Message"]');
        document.getElementById('backButton').addEventListener('click', function () {
            window.history.back();
        });
    </script>
}

@section Scripts {
    
}

