@model Exoticamp.UI.Models.Events.EventVM

@{
    ViewData["Title"] = "Details";
    Layout = "_AdminLayout";
}

<h1 class="text-center">Event</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h4>Event Details</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Name)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>

                        <dt class="col-sm-4">Location</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.EventLocationDto.LocationDetails.Name)</dd>

                        <dt class="col-sm-4">Campsite</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Campsite.Name)</dd>

                        <dt class="col-sm-4">Activities</dt>
                        <dd class="col-sm-8">
                        
                          @Html.DisplayFor(model => model.EventActivityDto.ActivityDetails.Name)

                        </dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Price)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Price)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Capacity)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Capacity)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.StartDate)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.StartDate)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.EndDate)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.EndDate)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Description)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Description)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Highlights)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Highlights)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.EventRules)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.EventRules)</dd>
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Campsite.Safety)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Campsite.Safety)</dd>
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Campsite.Itinerary)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Campsite.Itinerary)</dd>
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Campsite.CampsiteRules)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Campsite.CampsiteRules)</dd>
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Campsite.HowToGetHere)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Campsite.HowToGetHere)</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h4>Event Image</h4>
                    <hr />
                    <div>
                        @if (Model.ImageUrl != null)
                        {
                            <img src="@Model.ImageUrl" alt="@Model.Name" height="350" width="350" class="img-fluid" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-8 text-center">
            @Html.ActionLink("Edit", "Edit", new { id = Model?.EventId }, new { @class = "btn btn-primary mr-2" })
            @Html.ActionLink("Delete", "Delete", new { id = Model?.EventId }, new { @class = "btn btn-danger mr-2" })
            <button id="backButton" class="btn btn-secondary">Back</button>
        </div>
    </div>
</div>

<script>
    document.getElementById('backButton').addEventListener('click', function () {
        window.history.back();
    });
</script>
