@model Exoticamp.UI.Models.Events.EventVM

@{
    ViewData["Title"] = "Event Details";
    Layout = "_LayoutLandingPage";
}

<div class="col-md-8 text-left" style="margin-top:20px">
    <button id="backButton" class="btn btn-secondary">Back</button>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body ">
                    @if (!string.IsNullOrEmpty(Model.ImageUrl))
                    {
                        <img src="@Model.ImageUrl" alt="@Model.Name" class="img-fluid mb-4" />
                    }
                    <h1>@Model.Name at @Model.Campsite.Name</h1>
                    <hr />
                    <h4>Event Details</h4>
                    <dl class="row">
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Price)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Price)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Capacity)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Capacity)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.StartDate)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.StartDate)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.EndDate)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.EndDate)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Description)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Description)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Highlights)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Highlights)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.EventRules)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.EventRules)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Campsite.Safety)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Campsite.Safety)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Campsite.Itinerary)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Campsite.Itinerary)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Campsite.CampsiteRules)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Campsite.CampsiteRules)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Campsite.HowToGetHere)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Campsite.HowToGetHere)</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class=" mt-4 d-flex justify-content-center align-items-center">

            <a asp-action="EventUserBooking" asp-controller="Booking" class="btn btn-primary" style="background-color: #32CD32" id="bookButton" asp-route-id="@Model.EventId">Book Now</a>
    </div>
</div>

<script>
    document.getElementById('backButton').addEventListener('click', function () {
        window.history.back();
    });
</script>
