@model Exoticamp.UI.Models.Booking.BookingVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BookingVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfAdults)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfAdults)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfChildrens)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfChildrens)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfTents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfTents)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GlampingType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GlampingType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceForAdults)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceForAdults)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceForChildrens)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceForChildrens)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceForTents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceForTents)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CampsiteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CampsiteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.BookingId  }) |
    <a asp-action="Index">Back to List</a>
</div>
