@model IEnumerable<Exoticamp.UI.Models.Booking.BookingVM>

@{
    ViewData["Title"] = "GetAllBookings";
}

<h1>GetAllBookings</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfAdults)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfChildrens)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfTents)
            </th>
        
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfAdults)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfChildrens)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfTents)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlampingType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
         @*    <td>
                @Html.DisplayFor(modelItem => item.CampsiteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationId)
            </td> *@
      @*       <td>
                @Html.DisplayFor(modelItem => item.PaymentId)
            </td> *@
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.BookingId  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.BookingId  }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.BookingId  })
            </td>
        </tr>
}
    </tbody>
</table>
