@model Exoticamp.UI.Models.CampsiteDetails.CampsiteDetailsVM

@{
    ViewData["Title"] = "EditCampsite";
   // Layout = "~/Views/Shared/_VendorLayout.cshtml";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <!-- Other head content -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
</head>
<style>

    .center-form {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 80vh;
    }

    .form-container {
        width: 100%;
        max-width: 600px;
    }

    .top-right-button {
        position: absolute;
        top: 100px;
        right: 20px;
    }

</style>

<h1 style="text-align:center">EditCampsite</h1>
<div class="top-right-button">
    <a asp-action="ShowCampsiteAdmin" class="btn btn-secondary">Back to List</a>
</div>

<div class="row center-form">
    <div class="col-md-12 form-container">
        <form asp-action="EditCampsiteAdmin" enctype='multipart/form-data'>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ApprovedBy" class="control-label">Approved By<span class="text-danger">*</span></label>
                <select asp-for="ApprovedBy" class="form-control" required>
                    <option value="">-- Select --</option>
                    <option value="Approved">Approved</option>
                    <option value="Rejected">Rejected</option>
                </select>
                <span asp-validation-for="ApprovedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name<span class="text-danger">*</span></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label">Location<span class="text-danger">*</span></label>
                <select asp-for="Location" class="form-control">
                    <option value="">-- Select State --</option>
                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                    <option value="Assam">Assam</option>
                    <option value="Bihar">Bihar</option>
                    <option value="Chhattisgarh">Chhattisgarh</option>
                    <option value="Goa">Goa</option>
                    <option value="Gujarat">Gujarat</option>
                    <option value="Haryana">Haryana</option>
                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                    <option value="Jharkhand">Jharkhand</option>
                    <option value="Karnataka">Karnataka</option>
                    <option value="Kerala">Kerala</option>
                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                    <option value="Maharashtra">Maharashtra</option>
                    <option value="Manipur">Manipur</option>
                    <option value="Meghalaya">Meghalaya</option>
                    <option value="Mizoram">Mizoram</option>
                    <option value="Nagaland">Nagaland</option>
                    <option value="Odisha">Odisha</option>
                    <option value="Punjab">Punjab</option>
                    <option value="Rajasthan">Rajasthan</option>
                    <option value="Sikkim">Sikkim</option>
                    <option value="Tamil Nadu">Tamil Nadu</option>
                    <option value="Telangana">Telangana</option>
                    <option value="Tripura">Tripura</option>
                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                    <option value="Uttarakhand">Uttarakhand</option>
                    <option value="West Bengal">West Bengal</option>
                </select>
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TentType" class="control-label">Tent Type<span class="text-danger">*</span></label>
                <select asp-for="TentType" class="form-control">
                    <option value="">-- Select Tent Type --</option>
                    <option value="Traditional Indian Tents">Traditional Indian Tents</option>
                    <option value="Dome Tents">Dome Tents</option>
                    <option value="Geodesic Tents">Geodesic Tents</option>
                    <option value="Pop-Up Tents">Pop-Up Tents</option>
                    <option value="Tunnel Tents">Tunnel Tents</option>
                    <option value="A-Frame Tents">A-Frame Tents</option>
                    <option value="Cabin Tents">Cabin Tents</option>
                    <option value="Backpacking Tents">Backpacking Tents</option>
                </select>
                <span asp-validation-for="TentType" class="text-danger"></span>
            </div>
            @Html.HiddenFor(x => x.Images)
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label">Image File</label>
                <input asp-for="ImageFile" class="form-control" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label">Date & Time<span class="text-danger">*</span></label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Highlights" class="control-label">Highlights<span class="text-danger">*</span></label>
                <input asp-for="Highlights" class="form-control" />
                <span asp-validation-for="Highlights" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ratings" class="control-label">Ratings<span class="text-danger">*</span></label>
                <input asp-for="Ratings" class="form-control" />
                <span asp-validation-for="Ratings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AboutCampsite" class="control-label">About Campsite<span class="text-danger">*</span></label>
                <textarea asp-for="AboutCampsite" class="form-control" rows="4"></textarea>
                <span asp-validation-for="AboutCampsite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CampsiteRules" class="control-label">Campsite Rules<span class="text-danger">*</span></label>
                <textarea asp-for="CampsiteRules" class="form-control"></textarea>
                <span asp-validation-for="CampsiteRules" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BestTimeToVisit" class="control-label">Best Time to Visit<span class="text-danger">*</span></label>
                <input asp-for="BestTimeToVisit" class="form-control" />
                <span asp-validation-for="BestTimeToVisit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HowToGetHere" class="control-label">How to Get There<span class="text-danger">*</span></label>
                <textarea asp-for="HowToGetHere" class="form-control"></textarea>
                <span asp-validation-for="HowToGetHere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuickSummary" class="control-label">Quick Summary<span class="text-danger">*</span></label>
                <textarea asp-for="QuickSummary" class="form-control"></textarea>
                <span asp-validation-for="QuickSummary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Category<span class="text-danger">*</span></label>
                <select asp-for="CategoryId" class="form-control">
                    <option value="">-- Select Category --</option>
                    @foreach (var category in ViewBag.CategoryList)
                    {
                        <option value="@category.Value">@category.Text</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivitiesId" class="control-label">Activities<span class="text-danger">*</span></label>
                <select asp-for="ActivitiesId" class="form-control" asp-items="ViewBag.ActivitiesList">
                    <option value="">-- Select Activity --</option>
                </select>
                <span asp-validation-for="ActivitiesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MealPlans" class="control-label">Meal Plans<span class="text-danger">*</span></label>
                <textarea asp-for="MealPlans" class="form-control"></textarea>
                <span asp-validation-for="MealPlans" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Itinerary" class="control-label">Itinerary<span class="text-danger">*</span></label>
                <textarea asp-for="Itinerary" class="form-control"></textarea>
                <span asp-validation-for="Itinerary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inclusions" class="control-label">Inclusion<span class="text-danger">*</span></label>
                <textarea asp-for="Inclusions" class="form-control"></textarea>
                <span asp-validation-for="Inclusions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exclusion" class="control-label">Exclusion<span class="text-danger">*</span></label>
                <textarea asp-for="Exclusion" class="form-control"></textarea>
                <span asp-validation-for="Exclusion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amenities" class="control-label">Amenities<span class="text-danger">*</span></label>
                <textarea asp-for="Amenities" class="form-control"></textarea>
                <span asp-validation-for="Amenities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Accommodation" class="control-label">Accommodation<span class="text-danger">*</span></label>
                <textarea asp-for="Accommodation" class="form-control"></textarea>
                <span asp-validation-for="Accommodation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Safety" class="control-label">Safety<span class="text-danger">*</span></label>
                <textarea asp-for="Safety" class="form-control"></textarea>
                <span asp-validation-for="Safety" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DistanceWithMap" class="control-label">Distance With Map<span class="text-danger">*</span></label>
                <input asp-for="DistanceWithMap" class="form-control" />
                <span asp-validation-for="DistanceWithMap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhyExoticamp" class="control-label">Why Exoticamp<span class="text-danger">*</span></label>
                <textarea asp-for="WhyExoticamp" class="form-control"></textarea>
                <span asp-validation-for="WhyExoticamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FAQs" class="control-label">FAQs<span class="text-danger">*</span></label>
                <textarea asp-for="FAQs" class="form-control"></textarea>
                <span asp-validation-for="FAQs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseRules" class="control-label">House Rules<span class="text-danger">*</span></label>
                <textarea asp-for="HouseRules" class="form-control"></textarea>
                <span asp-validation-for="HouseRules" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CancellationPolicy" class="control-label">Cancellation Policy<span class="text-danger">*</span></label>
                <input asp-for="CancellationPolicy" class="form-control" />
                <span asp-validation-for="CancellationPolicy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            var successMessage = '@TempData["SuccessMessage"]';
            var errorMessage = '@TempData["ErrorMessage"]';

            if (successMessage) {
                toastr.success(successMessage);
            }
            if (errorMessage) {
                toastr.error(errorMessage);
            }
        });

        $(document).ready(function () {
            // Name validation (only alphabets and space allowed)
            $('#Name').on('input', function () {
                var regex = /^[a-zA-Z\s]*$/;
                if (!regex.test($(this).val())) {
                    toastr.error('Name should contain only alphabets and space');
                    $(this).val('');
                }
            });

            // Date validation (do not allow selecting previous dates)
            $('#DateTime').on('change', function () {
                var selectedDate = new Date($(this).val());
                var currentDate = new Date();
                if (selectedDate < currentDate) {
                    toastr.error('Please select a future date');
                    $(this).val('');
                }
            });

            // Ratings validation (only numbers allowed, maximum 5)
            $('#Ratings').on('input', function () {
                var rating = parseInt($(this).val());
                if (isNaN(rating) || rating < 0 || rating > 5) {
                    toastr.error('Rating should be a number between 0 and 5');
                    $(this).val('');
                }
            });
        });
    </script>




}
