@model IEnumerable<Exoticamp.UI.Models.Reviews.ReviewsVM>

@{
    ViewData["Title"] = "ShowReviewsAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<style>
    .campsite-image {
        max-width: 100px; /* Adjust maximum width as per your design */
        height: auto;
        margin-right: 10px; /* Margin between image and review details */
        float: left; /* Float left to align with review details */
    }
</style>

<h1 style="text-align:center">Reviews</h1>



<table class="table table-striped table-bordered" id="reviewsTable" style="margin-left:5px;margin-right:20px">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CampsiteName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CampsiteImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ratings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Status
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.CampsiteName)</td>
                <td class="campsite-image"><img src="@item.CampsiteImage" class="campsite-image" alt="Campsite Image" /></td>
                <td>@Html.DisplayFor(modelItem => item.DateTime)</td>
                <td>@Html.DisplayFor(modelItem => item.Ratings)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>
                    @if (!item.Status)
                    {
                        <span class="text-warning">Pending</span>
                    }
                    else if (item.Status)
                    {
                        <span class="text-success">Approved</span>
                    }
                    else
                    {
                        <span class="text-danger">Rejected</span>
                    }
                </td>
                <td>
                    <form asp-action="UpdateReviewStatusById" asp-route-id="@item.Id" method="post" class="d-inline review-form">
                        <button type="submit" class="btn @((item.Status ? "btn-danger" : "btn-success"))" onclick="return confirm('Are you sure?');">
                            @if (!item.Status)
                            {
                                <span>Approve</span>
                            }
                            else
                            {
                                <span>Reject</span>
                            }
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#reviewsTable').DataTable({
                "paging": true,
                "searching": true,
                "ordering": true,
                "lengthMenu": [[5, 10, 20, -1], [5, 10, 20, 'All']],
                "pageLength": 10
            });


        });
    </script>
}
